<p id="notice"><%= notice %>god</p>

<div class="welcome-message">
  <div>Welcome and enjoy and welcome and enjoy and welcome and enjoy and welcome</div>
</div>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3">lol</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.post %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'New Post', new_post_path %>

<div class="goodbye-message">
  <h2>Last one turn off the lights</h2>
</div>
