<p id="notice"><%= notice %>god</p>

<div class="welcome-message">
  <div>Welcome and enjoy and welcome and enjoy and welcome and enjoy and welcome</div>
</div>

<div class="login-status">
  <p>
    <% if user_signed_in? %>
      <%= current_user.username %> is logged in
    <% else %>
      Nobody is logged in so if you would like to be logged in feel free to do it but no pressure
    <% end %>
  </p>
</div>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Post</th>
      <th colspan="3">Do ya thang</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.username %></td>
        <td><%= post.post %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user == post.user %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless user_signed_in? %>
  <%= link_to 'Log In', new_user_session_path %>
  <% else %>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<% end %>

<% unless user_signed_in? %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

<div class="goodbye-message">
  <h2>Last one turn off the lights</h2>
</div>
